/*整体*/
body, html { min-width: 1200px; position: relative; overflow-y: hidden; overflow-x: auto; display: flex; flex-direction: column; width: 100%; height: 100%; }
/*顶部菜单样式修正*/
.menubox { background: #1b1c1d; padding: 5px; box-shadow: 0px 2px 4px #333333; }
.menubox > .menu { padding: 0 20px; }
.menubox > .menu > .dropdown.item { color: rgba(255,255,255,.7); }
.userinfo { padding: 2px 2px !important; }
.userinfo > .comments { margin: 0; }
.userinfo > .ui.comments .comment .text { margin: 0 !important; }
.userinfo .avatar img { width: 30px !important; }
.userinfo .content { margin-left: 2.8em !important; padding: 2px 0px; }
.userinfo .content .author, .userinfo .content .text { color: #dedede !important; font-size: 12px !important; }
.userinfo > i.dropdown.icon { margin: 0 3px 0px 1em !important; }
.userinfo .content .text { color: #a7a7a7 !important; }
.userinfo > .menu { min-width: 95px !important; }
.projectset { padding-top: .8em !important; height: 32px; margin-top: 4px !important; width: 120px; }
.projectset > .icon { padding: .78571429em 0 .78571429em 0 !important; }

/*搜索区样式修正*/
.searchbox .ui.button.orange.icon { padding: 0.65em !important; }
.ui.form .field.right { position: absolute; right: 0; padding: 0 !important; }
/*下拉框清除按钮样式修正*/
.ui.dropdown > .remove.icon { right: 1.5em !important; }
/*需求文档添加和编辑页的通用样式*/
.document_body { width: 1200px; display: flex; flex-direction: row; margin: 0 auto; height: 100%; }
.document_body > .left { position: relative; overflow-x: hidden; overflow-y: auto; padding: 30px; width: 900px; height: 100%; border: 1px solid #e8e8e8; box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08); }
.document_body > .left::-webkit-scrollbar { width: 2px; }
.document_body > .left > .id { padding: .4em .6em !important; border-radius: 0 0 2px 0 !important; }
.document_body > .left > .ui.transparent.input { margin-bottom:5px;}
.document_body > .left > .ui.transparent.input > .title, .document_body > .left > span.title { line-height: 33px; font-size: 28px; font-weight: bold !important; word-wrap: break-word; }
.document_body > .left > span.title {margin-top:0 !important; margin-bottom: 5px; display: inline-block; }
.document_body > .right { overflow-x: hidden; overflow-y: auto; flex: 1; height: 100%; padding: 0px 20px 20px 20px; }
.document_body > .right::-webkit-scrollbar { width: 2px; }
/*需求和任务详情页记录列表中的label样式修正*/
.document_body .ui.comments.mini .ui.label.horizontal.mini { padding: .2em .5em !important; min-width: unset !important; border-radius: .3em !important; margin: 0 .3em 0 .3em !important; }
.document_body .ui.comments.mini .text.url a { color: #3a3a3a; cursor:pointer;}
.document_body .ui.comments.mini .text.url a span { color: #afafaf; }
.document_body .ui.comments.mini .text.url a:hover { color: #4183c4; }

textarea { resize: none !important; }

.Context { flex: 1; padding: 20px 30px; overflow: hidden; display: flex; flex-direction: column; }

/*分页，searchbox-Context_Scroll-Paging*/
.Context_Scroll { overflow-x: hidden; overflow-y: auto; flex: 1; }
.Context_Scroll::-webkit-scrollbar { width: 12px; }
.Context_Scroll::-webkit-scrollbar-thumb { border-radius: 3px; }
.Context > .paging { height: 50px; padding-top: 15px; }

.ui.buttons > .ui.button:not(:last-child) { border-right: solid 1px rgba(255, 255, 255, .3); }
.ui.modal > .close { color: #1d1b1b !important; top: .7rem !important; right: 0rem !important; }

.ui.image.label.mini img { height: 22px !important; }
/*需求和任务列表的人员label样式修正*/
.noborder.label { border: 0 !important; }
/*需求和任务列表的版本label样式修正*/
.version_lable { padding: .1em .5em !important; min-width: unset !important; font-weight: normal !important; color: rgba(111, 111, 111, 0.87) !important; }
/*需求和任务列表的版本label样式修正-去除字体加粗*/
.weight_normal { font-weight: normal !important; }
/*需求和任务详情页添加记录label样式修正*/
.addlog { padding: .3em !important; border-radius: .25em !important; }
.addlog > .icon { margin: .1em !important; }
/*全屏弹窗文档查看样式修正*/
.ui.overlay.fullscreen.modal.doc { width: 1200px !important; left: calc(50% - 600px) !important; }
.ui.overlay.fullscreen.modal.doc>.content.scrolling.edit::-webkit-scrollbar { width: 2px; }
/*弹窗头部降低高度样式修正*/
.ui.modal > .header { padding: 1rem 1.5rem !important; }
.ui.overlay.fullscreen.modal > .content { min-height: calc(100vh - 8.4rem) !important; }

.ui.modal > .scrolling.content.edit { padding: 0 !important; background-color: #f9f9f9; }
.ui.modal > .scrolling.content.edit > .context_con { margin: 10px auto; padding: 30px; width: 900px; background: #fff; border: 1px solid #e8e8e8; box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08); }
/*.Context { }
.Context > .context_box { padding: 15px 25px; }




.edit.edit_content { display: flex !important; flex-direction: column !important; }
.edit.edit_content > .fr-box.fr-document { overflow: hidden; flex: 1; display: flex; flex-direction: column; }
.edit.edit_content > .fr-box.fr-document > .fr-wrapper { flex: 1; overflow: auto; }
.content > .context_con p { line-height: 20px !important; margin: 0px !important; }
.content > .context_con > img { max-width: 100%; }
.jodit_container:not(.jodit_inline) .jodit_wysiwyg p { margin: 0px !important; }
.jodit_container:not(.jodit_inline) .jodit_wysiwyg hr { border-width: 0.7px; }*/
.f_icon { width: 75px; height: 48px; text-align: center; display: inline-block; }
.f_icon.folder { background: url(/FileICon/folder.png) no-repeat center center; background-size: 70%; }
.f_icon.gdoc { background: url(/FileICon/gdoc.png) no-repeat center center; background-size: 57%; }
.f_icon.audio { background: url(/FileICon/audio.png) no-repeat center center; background-size: 57%; }
.f_icon.video { background: url(/FileICon/video.png) no-repeat center center; background-size: 57%; }
.f_icon.csv { background: url(/FileICon/csv.png) no-repeat center center; background-size: 57%; }
.f_icon.excel { background: url(/FileICon/excel.png) no-repeat center center; background-size: 57%; }
.f_icon.word { background: url(/FileICon/word.png) no-repeat center center; background-size: 57%; }
.f_icon.zip { background: url(/FileICon/zip.png) no-repeat center center; background-size: 57%; }
.f_icon.image { background: url(/FileICon/image.png) no-repeat center center; background-size: 57%; }
.f_icon.pdf { background: url(/FileICon/pdf.png) no-repeat center center; background-size: 57%; }
.f_icon.ppt { background: url(/FileICon/ppt.png) no-repeat center center; background-size: 57%; }
.f_icon.txt { background: url(/FileICon/txt.png) no-repeat center center; background-size: 57%; }
.f_icon.attachment { background: url(/FileICon/attachment.png) no-repeat center center; background-size: 57%; }
.f_icon.link { background: url(/FileICon/link.png) no-repeat center center; background-size: 57%; }



.horizontal.label { font-weight: normal !important; padding: .5em !important; }

/*带清除按钮的输入框*/
.clearable.input { position: relative; }
.clearable.input > input { padding-right: 1.5em !important; }
.clearable.input > input:focus + i.close { color: #272525; }
.clearable.input > i.close { position: absolute; cursor: pointer; top: 7px; right: 3px; color: #a2a0a0; display: none; }
/*带按钮的输入框边框修复*/
.ui.action.input > input { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }
