/*整体*/
body, html { min-width: 1200px; position: relative; overflow-y: hidden; overflow-x: auto; display: flex; flex-direction: row; width: 100%; height: 100%; }
/*左栏菜单*/
.menubox { width: 200px; box-shadow: 2px 0px 4px #333333; background: #1b1c1d; }
.menubox > .blurring > .info { padding: 15px 0px; }
.menubox > .blurring > .info > .avatar { width: 80px; border-radius: 50%; margin-left: auto; margin-right: auto; display: inherit; }
.menubox > .blurring > .info > .header { color: rgba(255,255,255,.9) !important; text-align: center; margin: 10px 0px 0px 0px !important; }
.menubox > .blurring > .info > .header > .header { color: rgba(255,255,255,.7) !important; }
.menubox > .pro_set { padding: 0px 15px; }
.menubox > .menulist { }
.menubox > .menulist > ul { padding: 0; margin-bottom: 0; }
.menubox > .menulist > ul > li { list-style: none; padding: 0px 20px; border-bottom: solid 1px rgba(88, 88, 88, 0.3); }
.menubox > .menulist > ul > li > a { color: rgba(255,255,255,.6); display: inline-block; width: 100%; height: 45px; line-height: 45px; cursor: pointer; }
.menubox > .menulist > ul > li > a > i.icon { /*float: right;*/ margin-right: 10px; }
.menubox > .menulist > ul > li:hover { background: #242627; }
.menubox > .menulist > ul > li:hover > a { color: rgba(255,255,255,.8); }
.menubox > .menulist > ul > li.active { background: #3e3e3e; }
.menubox > .menulist > ul > li.active > a { color: rgba(255,255,255,.9); }
/*左栏菜单-设置，二级菜单*/
.menubox > .menulist > .sets { height: 45px; line-height: 45px !important; border-radius: 0 !important; padding: 0px 20px !important; font-size: 1em; background: #1b1c1d !important; color: rgba(255,255,255,.6) !important; font-weight: normal !important; }
.menubox > .menulist > .sets:hover { background: #242627 !important; color: rgba(255,255,255,.8) !important; }
.menubox > .menulist > .sets > .caret.right.icon { font-size: 1em; line-height: inherit !important; float: right; }
.menubox > .menulist > .sets > .menu { background: #1b1c1d !important; margin: 0px 0 0px .5em !important; min-width: 130px !important; }
.menubox > .menulist > .sets > .menu > .item { color: rgba(255,255,255,.6) !important; font-weight: normal !important; }
.menubox > .menulist > .sets > .menu > .item:hover { background: #242627 !important; color: rgba(255,255,255,.8) !important; }
.menubox > .menulist > .sets > .menu > .item.active { background: #3e3e3e !important; color: rgba(255,255,255,.9) !important; }
.menubox > .menulist > .sets > .menu:after { background: #1b1c1d !important; }

/*搜索区样式修正*/
.searchbox .ui.button.orange.icon { padding: 0.65em !important; }
.ui.form .field.right { position: absolute; right: 0; padding: 0 !important; }
/*下拉框清除按钮样式修正*/
.ui.dropdown > .remove.icon { right: 1.5em !important; }




.Context { flex: 1; padding: 20px 30px; overflow: hidden; display: flex; flex-direction: column; }

/*分页，searchbox-Context_Scroll-Paging*/
.Context_Scroll { overflow-x: hidden; overflow-y: auto; flex: 1;}
.Context_Scroll::-webkit-scrollbar { width: 12px; }
.Context_Scroll::-webkit-scrollbar-thumb { border-radius: 3px; }
.Context > .paging { height: 50px; padding-top: 15px; }


.ui.buttons > .ui.button:not(:last-child) { border-right: solid 1px rgba(255, 255, 255, .3); }
.ui.modal > .close { color: #1d1b1b !important; top: .7rem !important; right: 0rem !important; }
.jodit_wysiwyg p { margin: 0 !important; }

.ui.image.label.mini img {height:22px !important; }

.noborder.label { border: 0 !important; }

/*弹窗头部降低高度样式修正*/
.ui.modal > .header { padding: 1rem 1.5rem !important; }
.ui.overlay.fullscreen.modal > .content { min-height: calc(100vh - 8.52rem) !important; }

.ui.modal > .scrolling.content.edit { padding: 0 !important; background-color: #f9f9f9; }
.ui.modal > .scrolling.content.edit > .context_con { margin: 10px auto; padding: 30px; width: 900px; background: #fff; border: 1px solid #e8e8e8; box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08); }
/*.Context { }
.Context > .context_box { padding: 15px 25px; }




.edit.edit_content { display: flex !important; flex-direction: column !important; }
.edit.edit_content > .fr-box.fr-document { overflow: hidden; flex: 1; display: flex; flex-direction: column; }
.edit.edit_content > .fr-box.fr-document > .fr-wrapper { flex: 1; overflow: auto; }
.content > .context_con p { line-height: 20px !important; margin: 0px !important; }
.content > .context_con > img { max-width: 100%; }
.jodit_container:not(.jodit_inline) .jodit_wysiwyg p { margin: 0px !important; }
.jodit_container:not(.jodit_inline) .jodit_wysiwyg hr { border-width: 0.7px; }*/
.f_icon { width: 75px; height: 48px; text-align: center; display: inline-block; }
.f_icon.folder { background: url(/FileICon/folder.png) no-repeat center center; background-size: 70%; }
.f_icon.gdoc { background: url(/FileICon/gdoc.png) no-repeat center center; background-size: 57%; }
.f_icon.audio { background: url(/FileICon/audio.png) no-repeat center center; background-size: 57%; }
.f_icon.video { background: url(/FileICon/video.png) no-repeat center center; background-size: 57%; }
.f_icon.csv { background: url(/FileICon/csv.png) no-repeat center center; background-size: 57%; }
.f_icon.excel { background: url(/FileICon/excel.png) no-repeat center center; background-size: 57%; }
.f_icon.word { background: url(/FileICon/word.png) no-repeat center center; background-size: 57%; }
.f_icon.zip { background: url(/FileICon/zip.png) no-repeat center center; background-size: 57%; }
.f_icon.image { background: url(/FileICon/image.png) no-repeat center center; background-size: 57%; }
.f_icon.pdf { background: url(/FileICon/pdf.png) no-repeat center center; background-size: 57%; }
.f_icon.ppt { background: url(/FileICon/ppt.png) no-repeat center center; background-size: 57%; }
.f_icon.txt { background: url(/FileICon/txt.png) no-repeat center center; background-size: 57%; }
.f_icon.attachment { background: url(/FileICon/attachment.png) no-repeat center center; background-size: 57%; }
.f_icon.link { background: url(/FileICon/link.png) no-repeat center center; background-size: 57%; }



.horizontal.label { font-weight: normal !important; padding: .5em !important; }

/*带清除按钮的输入框*/
.clearable.input { position: relative; }
.clearable.input > input { padding-right: 1.5em !important; }
.clearable.input > input:focus + i.close { color: #272525; }
.clearable.input > i.close { position: absolute; cursor: pointer; top: 7px; right: 3px; color: #a2a0a0; display: none; }
/*带按钮的输入框边框修复*/
.ui.action.input > input { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }
