@{
    Layout = null;
}
@model TMT_Documents
<div class="header">
    <i class="file alternate outline icon"></i>
    @Model.DocumentName
</div>
<div class="content scrolling edit">
    <div class="context_con">
        @Html.Raw(Model.Content)
    </div>
</div>
<script>
    var modal_action = {
        edit_obj: null,
        init: () => {
            modal_action.edit_obj = new editor('.context_con', {
                edit: false,
                upload: {
                    url: '/Home/UPload',
                    success: (result) => { },
                    error: (error) => { }
                }
            });
        },
        edit: function (id) {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                if ($(target).text() === '编辑') {
                    modal_action.edit_obj.toggleState();
                    tip.success('已切换为编辑模式！');
                    $(target).text('保存');
                }
                else {
                    var data = {
                        DocumentID: id,
                        Content: modal_action.edit_obj.get()
                    };
                    ajax.post('/Document/Document_Save', data, function () {
                        $(target).load_show(); 
                    }, function (success, data) {
                            $(target).load_hide();
                        if (success && data.Success) {
                            modal_action.edit_obj.toggleState();
                            $(target).text('编辑');
                            tip.success('保存成功，已切换为阅读模式！');
                        };
                    });
                }
            }
        }
    };
    modal_action.init();
</script>
<div class="actions">
    @if (Model.CreateUserID == G.User.UserID)
    {
        <a class="ui button left floated green small edit_tag" onclick="modal_action.edit('@Model.DocumentID')">编辑</a>
    }
    <button class="ui button cancel black small">关闭</button>
</div>