@{
    Layout = null;
}
@model TMT_Projects
<div class="header"><i class="briefcase icon"></i>@(Model == null ? "新增项目" : "编辑项目")</div>
<div class="content">
    <div class="ui form tiny">
        <input type="hidden" id="ProjectID" value="@Model?.ProjectID">
        <div class="ui fields two">
            <div class="field">
                <label>项目名称</label>
                <input type="text" autocomplete="off" id="ProjectName" value="@Model?.ProjectName">
            </div>
            <div class="field">
                <label>状态</label>
                <div class="ui selection dropdown">
                    <input type="hidden" id="State" value="@Model?.State">
                    <i class="dropdown icon"></i>
                    <div class="default text"></div>
                    <div class="menu">
                        <div class="item" data-value="0">正常</div>
                        <div class="item" data-value="1">归档</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>项目人员</label>
            <SelectUsers Columns="5" ID="ProjectUsers"></SelectUsers>
        </div>
        <div class="field">
            <label>项目描述</label>
            <textarea rows="5" id="Description">@Model?.Description</textarea>
        </div>
    </div>
</div>
<script>
    var modal_action = {
        init: function () {
            var users = '@Model?.Users';
            $('#ProjectUsers').dropdown('set selected',users.split(','));
        },
        save: function () {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                var data = $(target).parents('.ui.modal').find('.ui.form').getdata();
                var users = $('#ProjectUsers').dropdown('get value');
                if (users !== null) {
                    data['Users'] = users.join(',');
                }
                ajax.post('/Setting/Projects_Add_Save', data, function () {
                    if (target) { $(target).load_show(); }
                }, function (success, data) {
                    if (target) {
                        $(target).load_hide();
                    }
                    if (success && data.Success) {
                        window.location.reload();
                    }
                });
            }
        }
    };
    modal_action.init();
</script>
<div class="actions">
    <button class="ui button green small" onclick="modal_action.save()">保存</button>
    <button class="ui button cancel black small">取消</button>
</div>