@{
    ViewData["Title"] = "角色管理";
}
@model Setting.RolesManagementList
<style>
    .left_clear { clear: none !important; float: left; margin-right: 30px !important; }
    .rolesA .grouped.fields > .field { margin: 0 !important; }
    .rolesA .ui.list { margin: .5em 0 !important; }
    body { display: flex; flex-direction: column; overflow: hidden; }
    .Context { flex: 1; overflow-y: scroll; }
    .Context::-webkit-scrollbar { width: 12px; }
    .Context::-webkit-scrollbar-thumb { border-radius: 0px; cursor: pointer; }
</style>
<div class="context_box">
    <div class="searchbox" data-tag="roleM">
        <div class="ui form mini">
            <div class="inline fields">
                <div class="field">
                    <label>关键字</label>
                    <div class="ui input clearable">
                        <input type="text" id="KeyWord" value="@Model.KeyWord">
                        <i class="close icon"></i>
                    </div>
                </div>
                <div class="field">
                    <button class="ui button orange mini icon" id="search"><i class="icon search"></i></button>
                </div>
                <div class="field right">
                    <div class="ui floating teal labeled icon button tiny" onclick="modal.load('/Setting/Roles_Add',650)">
                        <i class="plus icon"></i>新增
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model.List)
    {
        <div class="ui segments mini">
            <div class="ui segment">
                <p>
                    <i class="ui icon user tag grey"></i>
                    @item.RoleName
                </p>
            </div>
            <div class="ui secondary segment">
                <div class="ui form mini rolesA" style="display:flex;">
                    <partial name="_Authority" model="new object[]{false,item.Auths }" />
                </div>
                <div class="ui buttons icon mini blue">
                    @if (item.IsAllowDelete)
                    {
                        <button class="ui button" onclick="modal.load('/Setting/Roles_Add?RoleID=@item.RoleID',650)"><i class="edit icon"></i></button>
                        <button class="ui button" onclick="page.del(@item.RoleID)"><i class="trash alternate icon"></i></button>
                    }
                    else
                    {
                        <button class="ui button disabled"><i class="edit icon"></i></button>
                        <button class="ui button disabled"><i class="trash alternate icon"></i></button>
                    }
                </div>
            </div>
        </div>
    }
</div>
<script>
    var page = {
        del: function (id) {
            modal.ask('确认删除此角色？', function () {
                ajax.post('/Setting/Roles_Add_Del', { RoleID: id }, null, function (s, d) {
                    if (s && d.Success) {
                        window.location.reload();
                    }
                });
            });
        }
    };
</script>