@{
    Layout = null;
}
@model TMT_Users
<div class="header">
    <i class="user icon"></i>
    @(Model == null ? "新增用户" : "编辑用户")
</div>
<div class="content">
    <div class="ui form mini">
        <input type="hidden" id="UserID" value="@Model?.UserID">
        <div class="two fields">
            <div class="field">
                <img class="ui tiny image" id="av_img" style="border-radius:3px;" src="@(Model==null?"/Avatar/00.jpg":Model.Avatar)">
            </div>
            <div class="field">
                <label>头像</label>
                <AvatarSelect Clearable="false" ID="Avatar" Default="@(Model==null?"\\Avatar\\00.jpg":Model.Avatar)"></AvatarSelect>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>姓名</label>
                <input type="text" id="UserName" value="@Model?.UserName">
            </div>
            <div class="field">
                <label>角色</label>
                <RoleSelect ID="RoleID" Clearable="false" Default="Model?.RoleID"></RoleSelect>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>账号</label>
                <input type="text" id="Account" value="@Model?.Account">
            </div>
            <div class="field">
                <label>密码</label>
                <input type="password" id="PassWord">
            </div>
        </div>
        <div class="field">
            @if (Model != null && Model.Enable)
            {
                <div class="ui toggle checkbox checked">
                    <input type="checkbox" id="Enable" checked="">
                    <label>启用</label>
                </div>
            }
            else
            {
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="Enable">
                    <label>启用</label>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var model_action = {
        init: function () {
            $('#Avatar').parents('.ui.dropdown').dropdown({
                onChange: function (value, text, e) {
                    $('#av_img').attr('src', value);
                }
            });
        },
        save: function () {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                var data = $(target).parents('.ui.modal').find('.ui.form').getdata();
                ajax.post('/Setting/Users_Add_Save', data, function () {
                    if (target) { $(target).load_show(); }
                }, function (success, data) {
                    if (target) {
                        $(target).load_hide();
                    }
                    if (success && data.Success) {
                        window.location.reload();
                    }
                });
            }
        }
    };
    model_action.init();
</script>
<div class="actions">
    <button class="ui button small green" onclick="model_action.save()">保存</button>
    <button class="ui button small cancel black">取消</button>
</div>