@{
    Layout = null;
}
<div class="header">取消需求</div>
<div class="content">
    <div class="ui form tiny">
        <input type="hidden" id="RequirementID" value="@ViewBag.RequirementID">
        <div class="field">
            <label>备注</label>
            <textarea rows="5" id="Remark"></textarea>
        </div>
    </div>
</div>
<script>
    var modal_action = {
        handOver: function () {
            if (event && event.currentTarget) {
                var target = event.currentTarget;
                var data = $(target).parents('.ui.modal').find('.ui.form').getdata();
                ajax.post('/Requirement/Cancel', data, function () {
                    if (target) { $(target).load_show(); }
                }, function (success, data) {
                    if (target) {
                        $(target).load_hide();
                    }
                    if (success && data.Success) {
                        window.location.reload();
                    }
                });
            }
        }
    };
</script>
<div class="actions">
    <button class="ui button green small" onclick="modal_action.handOver()">保存</button>
    <button class="ui button cancel black small">取消</button>
</div>