body {
    margin: 0;
    padding: 0;
  }
.fr-popup.fr-desktop { z-index:2000 !important;}
.fr-toolbar > .fr-float-left { margin: 0 17px 0 0px; }
.fr-toolbar > .fr-float-right { margin: 0px; }
.fr-box > .fr-wrapper {padding:10px 0px !important; background :#fff !important;}
.fr-box > .fr-wrapper::-webkit-scrollbar { width: 12px; }
.fr-box > .fr-wrapper::-webkit-scrollbar-thumb { border-radius: 0px; cursor: pointer; }
.fr-box > .fr-wrapper > .fr-element { padding: 0 !important; margin: 0 !important; width: 100% !important; }
.fr-box > .second-toolbar { display:none;}
.fr-box.fr-basic,
.second-toolbar,
.fr-toolbar.fr-top { border-radius: 0; -webkit-border-radius: 0; }

  .second-toolbar,
  .fr-box.fr-basic .fr-wrapper,
  .fr-toolbar {
    border: 0;
  }

  .fr-box.fr-basic .fr-element,
  .fr-box.fr-basic .fr-element table {
    font-size: 14px;
  }

  .fr-box.fr-basic .fr-element a,
  .fr-box.fr-basic .fr-element a:hover {
    color: #2c82c9;
  }
.fr-dropdown-menu#dropdown-menu-paragraphFormat-1 { margin-top: 5px; }
.fr-dropdown-menu#dropdown-menu-paragraphFormat-1 p>a,
.fr-dropdown-menu#dropdown-menu-paragraphFormat-1 h1,
.fr-dropdown-menu#dropdown-menu-paragraphFormat-1 h2,
.fr-dropdown-menu#dropdown-menu-paragraphFormat-1 h3,
.fr-dropdown-menu#dropdown-menu-paragraphFormat-1 h4,
.fr-dropdown-menu#dropdown-menu-paragraphFormat-1 pre { font-size: 12px; }
.fr-box.fr-basic .fr-element p { margin: 2px; }

  .fr-toolbar .fr-command.fr-btn,
  .fr-popup .fr-command.fr-btn,
  .fr-modal .fr-command.fr-btn {
    height: 23px;
    border-radius:3px;
    margin:3px;
    padding:2px;
  }
.fr-toolbar .fr-command.fr-btn > span { 

    font-size:12px;
    height:100%;
    line-height:23px;
}
.fr-toolbar .fr-command.fr-btn.fr-dropdown:after { right: 6px; top: 10px; }

  .fr-popup .fr-color-set.fr-selected-set {
    padding: 10px;
    padding-bottom: 10px;
  }

  .fr-toolbar .fr-command.fr-btn i,
  .fr-toolbar .fr-command.fr-btn svg,
  .fr-popup .fr-command.fr-btn i,
  .fr-popup .fr-command.fr-btn svg,
  .fr-modal .fr-command.fr-btn i,
  .fr-modal .fr-command.fr-btn svg {
    margin: 0px;
    width:20px;
    height:20px !important;
  }


.fr-popup .fr-color-set > span { width: 20px; height: 20px;cursor:pointer; }
.fr-popup .fr-color-set > span > svg { width: 20px; height: 20px; margin: 0; cursor: pointer; }
.fr-popup .fr-color-set > span .fr-selected-color { top:-5px;}

.fr-toolbar .fr-tabs .fr-command.fr-btn, .fr-popup .fr-tabs .fr-command.fr-btn { height:30px;width:30px;}
.fr-toolbar .fr-command.fr-btn i:before { margin-top: 8px; display: inline-block; }
.fr-popup .fr-icon { font-size:14px;}
.fr-popup .fr-icon-container { grid-template-columns: repeat(auto-fill, minmax(23px, 23px)); }
.fr-popup .fr-icon-container { padding:10px;}
.fa { margin-left:6px;}
.fr-link-insert-layer { margin:10px !important;}
.fr-popup .fr-command.fr-btn.fr-dropdown:after { top:11px;}
.fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a { font-size:12px;}
.fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a svg { width: 20px; height: 20px; margin: 2px 2px; }
.fr-popup .fr-table-colors { display: block; padding: 9px; }
.fr-separator.fr-vs { height:12px;}
.fr-popup .fr-tabs .fr-command.fr-btn svg { margin: 4px 3px; width: 20px; }