<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] .TM</title>
    <script src="~/jquery.min.js"></script>
    <script src="~/Fomantic-UI/semantic.min.js"></script>
    <link href="~/Fomantic-UI/semantic.min.css" rel="stylesheet" />
    <link href="~/Style.css" rel="stylesheet" />
    <script src="~/JavaScript.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>